#litvis {
  @fSize: 11pt;

  font-family: "Roboto Condensed", serif;
  font-size: @fSize;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Fjalla One", serif;
  }

  code,
  pre {
    background-color: #fff;
  }

  pre {
    border: solid 1px #ccc;
    border-radius: 8px;
  }
}
