name: Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build packages
        run: yarn build

      - name: Lint with eslint
        run: yarn lint:eslint

      - name: Lint with markdownlint
        run: yarn lint:markdownlint

      - name: Lint with prettier
        run: yarn lint:prettier

      - name: Lint with tsc
        run: yarn lint:tsc

      - name: Lint with yarn-deduplicate
        run: yarn lint:yarn-deduplicate

  unit-tests:
    name: Unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        node: [10, 12, 14]
        exclude:
          - os: macos-latest
            node: 10
          - os: macos-latest
            node: 12
          - os: windows-latest
            node: 10
          - os: windows-latest
            node: 12
    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build packages
        run: yarn build

      - name: Run unit tests
        run: yarn test
